html{
  background:url(images/todo.jpg) center no-repeat;
  background-size:cover;
  min-height:100vh;
  line-height:none !important;
}

[type="checkbox"]+label{
  min-height:25px !important;
  height:auto !important;
  padding-left: 15px !important;
}

input[type=text]{
  border-bottom:1px solid #444 !important;
  box-shadow:0 1px 0 0 rgba(0,0,0,0.3) !important;
  font-size:1rem !important;
  color: #504f4f !important;
  margin: 0 0 0 0 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #504f4f !important;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #504f4f !important;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #504f4f !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #504f4f !important;
}

[type="checkbox"]:not(:checked) {
  position: relative !important;
  left: 0px !important;
  opacity: 1 !important;
}

[type="checkbox"]+label:before {
  content: none !important;
  width: 0 !important;
  height: 0 !important;
  border: transparent !important;
  border-radius: 0 !important;
  margin-top: 0 !important;
}

input:checked+label{
  color:#444 !important;
  background:none;
  text-decoration:line-through;
  font-style:italic;
  }

/*Todos styles*/
.todos-box{
  margin-top:0px !important;
  border-radius:5px !important;
  padding: 0 15px 0px 15px !important;
  background:rgba(255,255,255,0.54) !important;
}

.shadow{
  -moz-box-shadow:02px 4px 0 rgba(0,0,0,0.96) !important;
  -webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.96) !important;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.96),
  0 25px 50px 0 rgba(0,0,0,0.11) !important;
}

.materialize-textarea{
  border-bottom:0 !important;
  margin:0 !important;
}

.add-todos{
  margin-top:20px;
}

li label{
  color:black !important;
  -ms-word-break:break-all;
  word-break:break-all;
  /*NonstandardforWebKit*/
  word-break:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;
}

.todos{
  margin: 0 1em 0 1em !important;
  padding:0 !important;
  list-style:none !important;
}

.todos li{
  border-bottom:1px solid rgba(0,0,0,0.2);
  padding:10px 15px;
  display:flex;
  margin: 0 -2em 0 -2em;
}

.todos label{
  flex:1;
  cursor:pointer;
  -ms-word-break:break-all;
  word-break:break-all;
  /*NonstandardforWebKit*/
  word-break:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;
}

li:first-of-type{
  border-top:1px solid rgba(0,0,0,0.2);
}

li:last-of-type{
  border-bottom:none;
  min-height:25px !important;
  margin-bottom:10px !important;
}

label+button:after {
  float:right !important;
  padding-left:5px;
}

label:after {
  float:right !important;
  padding-left:5px;
}

li button {
  margin-right: 5px !important;
  padding-right: 15px !important;
  height: 20px;
  width: 1px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color:  #504f4f;
  font-weight: bolder;
  transition: .2s ease-out !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

li button:hover {
  color: rgb(238, 110, 115);
}


[type="checkbox"] {
  margin-left: 0px !important;
  cursor: pointer;
  border-right: 3px solid #9e9e9e !important;
  border-bottom: 2px solid #9e9e9e !important;
  height: auto !important;
  top: 0px !important;
  transition: .2s ease-out !important;
  opacity: 1 !important;
  position: inherit !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-left: inherit !important;
  margin-right: inherit !important;
  padding-bottom: 5px !important;
}

.actions label {
  color: #444 !important;
  font-size: 1rem !important;
  position: relative !important;
  cursor: pointer !important;
  display:inline-block !important;
  padding-left:inherit !important;
}

.actions label[type=button] {
  font-family: 'Sansita', sans-serif;
}

.todos-complete {
  border-top: 1px solid #444;

}